@page

<div class="text-center text-light">
    <h6 class="display-6">Teşekkürler</h6>
    <p>Bu sizin gününüz en iyisini hak ediyorsunuz sipariş ID niz #@OrderId</p>
    <p>Verilen tarihte hazırlanacaktır.</p>
    <a class="btn btn-warning" asp-controller="Home" asp-action="Index">Mağazaya Dön</a>
</div>


@functions
{
    [BindProperty(SupportsGet = true)]
    public String? OrderId { get; set; }
}