@page
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Contact Page</title>
</head>

<body>
    <div class="profile-section profile1">
        <div class="profile">
            <img src="/images/tuna.jpg" alt="Person 1">
        </div>
        <div class="info">
            <p>Adı Soyadı: Tuna Başar</p>
            <p>GitHub Hesabı: <a href="https://github.com/johndoe" target="_blank">Tuna Başar</a></p>
            <p>Instagram: <a href="https://www.instagram.com/johndoe" target="_blank">Tuna Başar</a></p>
        </div>
    </div>

    <div class="profile-section profile2">
        <div class="info">
            <p>Adı Soyadı: Furkan Bayhan</p>
            <p>GitHub Hesabı: <a href="https://github.com/janesmith" target="_blank">Furkan Bayhan</a></p>
            <p>Instagram: <a href="https://www.instagram.com/janesmith" target="_blank">Furkan Bayhan</a></p>
        </div>
        <div class="profile">
            <img src="/images/bayhan.jpg" alt="Person 2">
        </div>
    </div>

    <div class="profile-section profile3">
        <div class="profile">
            <img src="/images/nadire.jpg" alt="Person 3">
        </div>
        <div class="info">
            <p>Adı Soyadı:Nadire Yöndem</p>
            <p>GitHub Hesabı: <a href="https://github.com/aliahmet" target="_blank">Nadire Yöndem</a></p>
            <p>Instagram: <a href="https://www.instagram.com/aliahmet" target="_blank">Nadire Yöndem</a></p>
        </div>
    </div>

    <div class="logo-container top-right">
        <img src="/images/ayışığılogo (1).png" alt="Logo">
    </div>
    <div class="logo-container bottom-left">
        <img src="/images/ayışığılogo (1).png" alt="Logo">
    </div>

</body>

</html>
