<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="lead text-center ">
                    <i class="fa-solid fa-store text-light display-6"></i>
                    <br />
                    <bold>Ayışığı</bold> 
                </div>
                <div class="tex">
                    Organizasyon
                </div>
            </div>
            <div class="col-md-8">
                <div class="text-center text-light my-3">
                    &copy; 2023 <br />Tüm hakları CET programminge aittir
                </div>

                <div class="text-center">
                    <div class="btn-group">
                        <a class="btn btn-warning" href="https://github.com/tunaBasar/AyisigiOrganizasyon">
                            <i class="fa-brands fa-github"></i>
                        </a>
                        <a class="btn btn-warning">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                        <a class="btn btn-warning" href="https://www.linkedin.com/in/tuna-başar-701bb9259/">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                        <a class="btn btn-warning" href="https://www.youtube.com/watch?v=pHXDMe6QV-U&start=43">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                        <a class="btn btn-warning" href="https://www.instagram.com/ayisigi.organizasyon_/">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </div>
                </div>

            </div>
            <div class="solayasla col-md-2">
                <div products="" number="6"></div>
            </div>
        </div>
    </div>
</div>