body {
    background-image: url("/images/ChieneseWedding.png");
    min-height: 100vh;
    background-color: #AF8A49;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    background-color: rgb(162, 24, 24) !important;
}

.logo img {
    width: 100px;
    height: auto;
}

.custom-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-container {
    width: 400px;
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    background-color: #fff;
}